<launch>
	
	<!-- launch motor controller -->
	<include file="$(find rosie_motor_controller)/launch/rosie_motor_controller.launch"/>

	<!-- launch dead reckoning -->
	<include file="$(find rosie_dead_reckoning)/launch/rosie_dead_reckoning.launch"/>

	<!-- launch linear navigator -->
	<include file="$(find rosie_linear_navigator)/launch/rosie_linear_navigator.launch"/>
	
	<!-- launch servo controller -->
	<include file="$(find rosie_servo_controller)/launch/rosie_servo_controller.launch"/>

	<!-- launch path planning -->
	<include file="$(find rosie_path_finder)/launch/rosie_path_finder.launch"/>
</launch>
